
DATABASE_URL="mysql://utilisateur_ici:mot_de_passe_ici@db:3306/nom_de_la_base"

DB_HOST="db"
DB_PORT=3306
DB_USER="utilisateur_ici"
DB_PASSWORD="mot_de_passe_ici"
DB_NAME="nom_de_la_base"

# Auth.js : Secret de chiffrement des sessions (Générer avec `npx auth secret`)
AUTH_SECRET="votre_secret_genere_ici"

AUTH_URL="http://localhost:3000"